<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet"
          href={{url_for('static', filename='w3.css')}}>
</head>
<body class="w3-content">
  <h2>Регистрация</h2>
  <a href="/login">Уже зарегистрированы? Вход</a>
  <form method="post">
    <label>Логин</label>
    <input class="w3-input" type="text" name="login">
    <label>Придумайте ник</label>
    <input class="w3-input" type="text" name="nik">
    <label>Придумайте пароль</label>
    <input class="w3-input" type="text" name="pass1">
    <label>Введите пароль еще раз</label>
    <input class="w3-input" type="text" name="pass2">
    <input class="w3-input" type="submit" value="Регистрация">
  </form>
  <div class="w3-panel {{color}}" style="display:{{mode}}">
      <h1>Внимание!</h1>
      <p>{{msg}}</p>
  </div>
</body>
</html>